{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
  {% if language == 'es' %}
    <h2>Perfil</h2>
  {% else %}
    <h2>Profile</h2>
  {% endif %}
  <p><strong>Username:</strong> {{ profile.user.username }}</p>
  <p><strong>Email:</strong> {{ profile.user.email }}</p>
  <div class="d-flex gap-2 mt-3">
    {% if language == 'es' %}
      <a href="{% url 'password_change_es' %}" class="btn btn-primary">Cambiar contraseña</a>
      <br/>
      <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
    {% else %}
      <a href="{% url 'password_change' %}" class="btn btn-primary">Change password</a>
      <br/>
      <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
    {% endif %}
  </div>
</div>
{% endblock %}
