{% extends "base.html" %}
{% block title %}Miscellaneous | Tsokos Physics{% endblock %}
{% block content %}
<h2>Errata</h2>
<ul>
    <li><a href="https://www.tsokosphysics.com/misc/0%20ERRATA.pdf" target="_blank">Errata</a></li>
</ul>

<h2>The Scientific Investigation (IA)</h2>
<ul>
    <li><a href="https://www.tsokosphysics.com/misc/The%20Scientific%20Investigation.pdf" target="_blank">Guide to the Scientific Investigation</a></li>
</ul>

<h2>Prerequisites</h2>
<ul>
    <li><a href="https://www.tsokosphysics.com/misc/Units,%20Measurement,%20Uncertainties,%20Vectors.pdf" target="_blank">Units, Measurement, Uncertainties, Vectors</a></li>
</ul>

<h2>Paper 1 Multiple Choice Exam Questions</h2>
<ul>
    <li><a href="https://www.tsokosphysics.com/misc/On%20multiple%20choice%20questions.pdf" target="_blank">On multiple choice questions</a></li>
</ul>

<h2>Paper 2 Exam Questions</h2>
<ul>
    <li><a href="https://www.tsokosphysics.com/misc/Topic%20A%20Paper%202%20Exam%20questions.pdf" target="_blank">Topic A: Paper 2 Exam Questions</a></li>
    <li><a href="https://www.tsokosphysics.com/misc/Topic%20B%20Paper%202%20Exam%20Questions.pdf" target="_blank">Topic B: Paper 2 Exam Questions</a></li>
    <li><a href="https://www.tsokosphysics.com/misc/Topic%20C%20Paper%202%20Exam%20Questions.pdf" target="_blank">Topic C: Paper 2 Exam Questions</a></li>
    <li><a href="https://www.tsokosphysics.com/misc/Topic%20D%20Paper%202%20Exam%20Questions.pdf" target="_blank">Topic D: Paper 2 Exam Questions</a></li>
    <li><a href="https://www.tsokosphysics.com/misc/Topic%20E%20Paper%202%20Exam%20Questions.pdf" target="_blank">Topic E: Paper 2 Exam Questions</a></li>
    <li><a href="https://www.tsokosphysics.com/misc/Sample%20Paper%202%20Long%20questions.pdf" target="_blank">Sample Paper 2 (20 mark) long questions</a></li>
</ul>

<h2>A basic practical program</h2>
<ul>
    <li><a href="https://www.tsokosphysics.com/misc/Unit%20A%20P1.pdf" target="_blank">Unit A P1</a></li>
    <li><a href="https://www.tsokosphysics.com/misc/Unit%20A%20P2.pdf" target="_blank">Unit A P2</a></li>
    <li><a href="https://www.tsokosphysics.com/misc/Unit%20A%20P3.pdf" target="_blank">Unit A P3</a></li>
    <li><a href="https://www.tsokosphysics.com/misc/Unit%20B%20P1.pdf" target="_blank">Unit B P1</a></li>
    <li><a href="https://www.tsokosphysics.com/misc/Unit%20B%20P2.pdf" target="_blank">Unit B P2</a></li>
    <li><a href="https://www.tsokosphysics.com/misc/Unit%20B%20P3.pdf" target="_blank">Unit B P3</a></li>
    <li><a href="https://www.tsokosphysics.com/misc/Unit%20B%20P4.pdf" target="_blank">Unit B P4</a></li>
    <li><a href="https://www.tsokosphysics.com/misc/Unit%20B%20P5.pdf" target="_blank">Unit B P5</a></li>
    <li><a href="https://www.tsokosphysics.com/misc/Unit%20B%20P6.pdf" target="_blank">Unit B P6</a></li>
    <li><a href="https://www.tsokosphysics.com/misc/Unit%20B%20P7.pdf" target="_blank">Unit B P7</a></li>
    <li><a href="https://www.tsokosphysics.com/misc/Unit%20B%20P8.pdf" target="_blank">Unit B P8</a></li>
    <li><a href="https://www.tsokosphysics.com/misc/Unit%20C%20P1.pdf" target="_blank">Unit C P1</a></li>
    <li><a href="https://www.tsokosphysics.com/misc/Unit%20C%20P2.pdf" target="_blank">Unit C P2</a></li>
    <li><a href="https://www.tsokosphysics.com/misc/Unit%20C%20P3.pdf" target="_blank">Unit C P3</a></li>
    <li><a href="https://www.tsokosphysics.com/misc/Unit%20C%20P4.pdf" target="_blank">Unit C P4</a></li>
    <li><a href="https://www.tsokosphysics.com/misc/Unit%20C%20P5.pdf" target="_blank">Unit C P5</a></li>
    <li><a href="https://www.tsokosphysics.com/misc/Unit%20C%20P6.pdf" target="_blank">Unit C P6</a></li>
    <li><a href="https://www.tsokosphysics.com/misc/Unit%20C%20P7.pdf" target="_blank">Unit C P7</a></li>
    <li><a href="https://www.tsokosphysics.com/misc/Unit%20D%20P1.pdf" target="_blank">Unit D P1</a></li>
    <li><a href="https://www.tsokosphysics.com/misc/Unit%20E%20P1.pdf" target="_blank">Unit E P1</a></li>
    <li><a href="https://www.tsokosphysics.com/misc/Unit%20E%20P2.pdf" target="_blank">Unit E P2</a></li>
    <li><a href="https://www.tsokosphysics.com/misc/Unit%20E%20P3.pdf" target="_blank">Unit E P3</a></li>
</ul>

<h2>Problem of the week</h2>
<ul>
    <li><a href="https://www.tsokosphysics.com/misc/1%20Kinematics.pdf" target="_blank">A Kinematics</a></li>
    <li><a href="https://www.tsokosphysics.com/misc/2%20Forces.pdf" target="_blank">A & Forces</a></li>
    <li><a href="https://www.tsokosphysics.com/misc/3%20Work%20and%20energy.pdf" target="_blank">A & Work and energy</a></li>
    <li><a href="https://www.tsokosphysics.com/misc/4%20Circular%20motion.pdf" target="_blank">A Circular motion</a></li>
    <li><a href="https://www.tsokosphysics.com/misc/5%20Momentum.pdf" target="_blank">A & Momentum</a></li>
    <li><a href="https://www.tsokosphysics.com/misc/6%20Rotational%20mechanics.pdf" target="_blank">A & Rotational Mechanics (HL)</a></li>
    <li><a href="https://www.tsokosphysics.com/misc/7%20Relativity.pdf" target="_blank">A Special Relativity (HL)</a></li>
    <li><a href="https://www.tsokosphysics.com/misc/8%20Thermal%20energy%20transfer.pdf" target="_blank">B Thermal energy transfer</a></li>
    <li><a href="https://www.tsokosphysics.com/misc/9%20The%20greenhouse%20effect.pdf" target="_blank">B The greenhouse effect</a></li>
    <li><a href="https://www.tsokosphysics.com/misc/10%20The%20gas%20laws.pdf" target="_blank">B The gas laws</a></li>
    <li><a href="https://www.tsokosphysics.com/misc/11%20Thermodynamics.pdf" target="_blank">B Thermodynamics (HL)</a></li>
    <li><a href="https://www.tsokosphysics.com/misc/12%20Current%20and%20circuits.pdf" target="_blank">B Current and circuits</a></li>
    <li><a href="https://www.tsokosphysics.com/misc/13%20SHM.pdf" target="_blank">C SHM</a></li>
    <li><a href="https://www.tsokosphysics.com/misc/14%20SHM%20HL.pdf" target="_blank">C SHM (HL)</a></li>
    <li><a href="https://www.tsokosphysics.com/misc/15%20The%20wave%20model.pdf" target="_blank">C The wave model</a></li>
    <li><a href="https://www.tsokosphysics.com/misc/16%20Wave%20phenomena.pdf" target="_blank">C Wave phenomena</a></li>
    <li><a href="https://www.tsokosphysics.com/misc/17%20Wave%20phenomena%20HL.pdf" target="_blank">C Wave phenomena (HL)</a></li>
    <li><a href="https://www.tsokosphysics.com/misc/18%20Standing%20waves%20and%20resonance.pdf" target="_blank">C Standing waves and resonance</a></li>
    <li><a href="https://www.tsokosphysics.com/misc/19%20The%20Doppler%20effect.pdf" target="_blank">C The Doppler effect</a></li>
    <li><a href="https://www.tsokosphysics.com/misc/20%20The%20Doppler%20effect%20HL.pdf" target="_blank">C & The Doppler effect (HL)</a></li>
    <li><a href="https://www.tsokosphysics.com/misc/21%20Gravitation.pdf" target="_blank">D Gravitational fields</a></li>
    <li><a href="https://www.tsokosphysics.com/misc/22%20Gravitational%20fields%20HL.pdf" target="_blank">D & Gravitational fields (HL)</a></li>
    <li><a href="https://www.tsokosphysics.com/misc/23%20Electric%20fields%20SL%20HL.pdf" target="_blank">D Electric fields</a></li>
    <li><a href="https://www.tsokosphysics.com/misc/25%20Magnetic%20fields.pdf" target="_blank">D Magnetic fields</a></li>
    <li><a href="https://www.tsokosphysics.com/misc/24%20Electric%20fields%20HL.pdf" target="_blank">D Electric fields (HL)</a></li>
    <li><a href="https://www.tsokosphysics.com/misc/26%20Motion%20in%20EM%20fields.pdf" target="_blank">D Motion in E&M fields</a></li>
    <li><a href="https://www.tsokosphysics.com/misc/27%20EM%20Induction.pdf" target="_blank">D EM Induction (HL)</a></li>
    <li><a href="https://www.tsokosphysics.com/misc/28%20Atomic%20Physics.pdf" target="_blank">E Atomic Physics</a></li>
    <li><a href="https://www.tsokosphysics.com/misc/29%20Atomic%20Physics%20HL.pdf" target="_blank">E Atomic Physics (HL)</a></li>
    <li><a href="https://www.tsokosphysics.com/misc/30%20Quantum%20Physics%20HL.pdf" target="_blank">E Quantum Physics (HL)</a></li>
    <li><a href="https://www.tsokosphysics.com/misc/31%20Nuclear%20physics.pdf" target="_blank">E Nuclear Physics</a></li>
    <li><a href="https://www.tsokosphysics.com/misc/32%20Nuclear%20physics%20HL.pdf" target="_blank">E Nuclear Physics (HL)</a></li>
    <li><a href="https://www.tsokosphysics.com/misc/33%20Nuclear%20fission.pdf" target="_blank">E Nuclear fission</a></li>
    <li><a href="https://www.tsokosphysics.com/misc/34%20Nuclear%20fusion.pdf" target="_blank">E Nuclear fusion</a></li>
</ul>
{% endblock %}
