{% extends "base.html" %}
{% block title %}Specimen Papers | IBits of Physics{% endblock %}
{% block content %}
<h2>Specimen Papers</h2>

<h3>Set 1</h3>
<ul>
  <li><a href="https://www.ibitsofphysics.com/specimen_papers/Specimen%20Paper%201%20HL.pdf" target="_blank">Specimen Paper 1 HL</a></li>
  <li><a href="https://www.ibitsofphysics.com/specimen_papers/Specimen%20Paper%201%20SL.pdf" target="_blank">Specimen Paper 1 SL</a></li>
  <li><a href="https://www.ibitsofphysics.com/specimen_papers/Specimen%20Paper%202%20HL.pdf" target="_blank">Specimen Paper 2 HL</a></li>
  <li><a href="https://www.ibitsofphysics.com/specimen_papers/Specimen%20Paper%202%20SL.pdf" target="_blank">Specimen Paper 2 SL</a></li>
</ul>

<h3>Set 2</h3>
<ul>
  <li><a href="https://www.ibitsofphysics.com/specimen_papers/SET%202%20P1%20HL.pdf" target="_blank">Specimen Paper 1 HL</a></li>
  <li><a href="https://www.ibitsofphysics.com/specimen_papers/SET%202%20P1%20SL.pdf" target="_blank">Specimen Paper 1 SL</a></li>
  <li><a href="https://www.ibitsofphysics.com/specimen_papers/SET%202%20P2%20HL.pdf" target="_blank">Specimen Paper 2 HL</a></li>
  <li><a href="https://www.ibitsofphysics.com/specimen_papers/SET%202%20P2%20SL.pdf" target="_blank">Specimen Paper 2 SL</a></li>
</ul>

<h3>Set 3</h3>
<ul>
  <li><a href="https://www.ibitsofphysics.com/specimen_papers/Set%203%20P1%20HL.pdf" target="_blank">Specimen Paper 1 HL</a></li>
  <li><a href="https://www.ibitsofphysics.com/specimen_papers/Set%203%20P1%20SL.pdf" target="_blank">Specimen Paper 1 SL</a></li>
  <li><a href="https://www.ibitsofphysics.com/specimen_papers/Set%203%20P2%20HL.pdf" target="_blank">Specimen Paper 2 HL</a></li>
  <li><a href="https://www.ibitsofphysics.com/specimen_papers/Set%203%20P2%20SL.pdf" target="_blank">Specimen Paper 2 SL</a></li>
</ul>

<h3>Quizzes by Chapter</h3>
<ul>
  <li><a href="https://www.ibitsofphysics.com/specimen_papers/Quiz%200%20Uncertainties%20and%20vectors.pdf" target="_blank">Quiz 0 Uncertainties and vectors</a></li>
  <li><a href="https://www.ibitsofphysics.com/specimen_papers/Quiz%20A1.1%20Kinematics.pdf" target="_blank">Quiz A1.1 Kinematics</a></li>
  <li><a href="https://www.ibitsofphysics.com/specimen_papers/Quiz%20A1.2%20Projectile%20motion.pdf" target="_blank">Quiz A1.2 Projectile motion</a></li>
  <li><a href="https://www.ibitsofphysics.com/specimen_papers/Quiz%20A2.1%20Forces%20and%20Newton%27s%20laws.pdf" target="_blank">Quiz A2.1 Forces and Newton's laws</a></li>
  <li><a href="https://www.ibitsofphysics.com/specimen_papers/Quiz%20A2.2%20Circular%20Motion.pdf" target="_blank">Quiz A2.2 Circular Motion</a></li>
  <li><a href="https://www.ibitsofphysics.com/specimen_papers/Quiz%20A3%20Work,%20energy%20and%20power.pdf" target="_blank">Quiz A3 Work, energy and power</a></li>
  <li><a href="https://www.ibitsofphysics.com/specimen_papers/Quiz%20A4%20Linear%20momentum.pdf" target="_blank">Quiz A4 Linear momentum</a></li>
  <li><a href="https://www.ibitsofphysics.com/specimen_papers/Quiz%20A5%20Rigid%20body%20mechanics%20HL.pdf" target="_blank">Quiz A5 Rigid body mechanics HL</a></li>
  <li><a href="https://www.ibitsofphysics.com/specimen_papers/Quiz%20A6%20Relativity%20HL.pdf" target="_blank">Quiz A6 Relativity HL</a></li>
  <li><a href="https://www.ibitsofphysics.com/specimen_papers/Quiz%20B7%20Thermal%20energy%20transfers.pdf" target="_blank">Quiz B7 Thermal energy transfers</a></li>
  <li><a href="https://www.ibitsofphysics.com/specimen_papers/Quiz%20B8%20The%20Greenhouse%20effect.pdf" target="_blank">Quiz B8 The Greenhouse effect</a></li>
  <li><a href="https://www.ibitsofphysics.com/specimen_papers/Quiz%20B9%20The%20gas%20laws.pdf" target="_blank">Quiz B9 The gas laws</a></li>
  <li><a href="https://www.ibitsofphysics.com/specimen_papers/Quiz%20B10%20Thermodynamics%20HL.pdf" target="_blank">Quiz B10 Thermodynamics HL</a></li>
  <li><a href="https://www.ibitsofphysics.com/specimen_papers/Quiz%20B11%20Current%20and%20circuits.pdf" target="_blank">Quiz B11 Current and circuits</a></li>
  <li><a href="https://www.ibitsofphysics.com/specimen_papers/Quiz%20C12.1%20SHM.pdf" target="_blank">Quiz C12.1 SHM</a></li>
  <li><a href="https://www.ibitsofphysics.com/specimen_papers/Quiz%20C12.2%20SHM%20HL.pdf" target="_blank">Quiz C12.2 SHM HL</a></li>
  <li><a href="https://www.ibitsofphysics.com/specimen_papers/Quiz%20C13%20The%20wave%20model.pdf" target="_blank">Quiz C13 The wave model</a></li>
  <li><a href="https://www.ibitsofphysics.com/specimen_papers/Quiz%20C14.1%20Wave%20phenomena.pdf" target="_blank">Quiz C14.1 Wave phenomena</a></li>
  <li><a href="https://www.ibitsofphysics.com/specimen_papers/Quiz%20C14.2%20%20Wave%20phenomena%20HL.pdf" target="_blank">Quiz C14.2 Wave phenomena HL</a></li>
  <li><a href="https://www.ibitsofphysics.com/specimen_papers/Quiz%20C15%20Standing%20waves%20and%20resonance.pdf" target="_blank">Quiz C15 Standing waves and resonance</a></li>
  <li><a href="https://www.ibitsofphysics.com/specimen_papers/Quiz%20C16.1%20The%20%20Doppler%20effect.pdf" target="_blank">Quiz C16.1 The Doppler effect</a></li>
  <li><a href="https://www.ibitsofphysics.com/specimen_papers/Quiz%20C16.2%20The%20Dopper%20effect%20HL.pdf" target="_blank">Quiz C16.2 The Doppler effect HL</a></li>
  <li><a href="https://www.ibitsofphysics.com/specimen_papers/Quiz%20D17.1%20Gravitation.pdf" target="_blank">Quiz D17.1 Gravitation</a></li>
  <li><a href="https://www.ibitsofphysics.com/specimen_papers/Quiz%20D17.2%20Gravitation%20HL.pdf" target="_blank">Quiz D17.2 Gravitation HL</a></li>
  <li><a href="https://www.ibitsofphysics.com/specimen_papers/Quiz%20D18.1%20EM%20fields.pdf" target="_blank">Quiz D18.1 EM fields</a></li>
  <li><a href="https://www.ibitsofphysics.com/specimen_papers/Quiz%20D18.2%20Electric%20field%20and%20potential%20HL.pdf" target="_blank">Quiz D18.2 Electric field and potential HL</a></li>
  <li><a href="https://www.ibitsofphysics.com/specimen_papers/Quiz%20D19%20Motion%20in%20EM%20fields.pdf" target="_blank">Quiz D19 Motion in EM fields</a></li>
  <li><a href="https://www.ibitsofphysics.com/specimen_papers/Quiz%20D20%20Electromagnetic%20induction%20HL.pdf" target="_blank">Quiz D20 Electromagnetic induction HL</a></li>
  <li><a href="https://www.ibitsofphysics.com/specimen_papers/Quiz%20E21.1%20Atomic%20physics.pdf" target="_blank">Quiz E21.1 Atomic physics</a></li>
  <li><a href="https://www.ibitsofphysics.com/specimen_papers/Quiz%20E21.2%20Atomic%20physics%20HL.pdf" target="_blank">Quiz E21.2 Atomic physics HL</a></li>
  <li><a href="https://www.ibitsofphysics.com/specimen_papers/Quiz%20E22%20Quantum%20physics%20HL.pdf" target="_blank">Quiz E22 Quantum physics HL</a></li>
  <li><a href="https://www.ibitsofphysics.com/specimen_papers/Quiz%20E23.1%20Nuclear%20physics.pdf" target="_blank">Quiz E23.1 Nuclear physics</a></li>
  <li><a href="https://www.ibitsofphysics.com/specimen_papers/Quiz%20E23.2%20Nuclear%20physics%20HL.pdf" target="_blank">Quiz E23.2 Nuclear physics HL</a></li>
  <li><a href="https://www.ibitsofphysics.com/specimen_papers/Quiz%20E24%20Nuclear%20fission.pdf" target="_blank">Quiz E24 Nuclear fission</a></li>
  <li><a href="https://www.ibitsofphysics.com/specimen_papers/Quiz%20E25%20Nuclear%20fusion.pdf" target="_blank">Quiz E25 Nuclear fusion</a></li>
</ul>
{% endblock %}
