{% extends "base.html" %}
{% block title %}Teacher Notes | IBits of Physics{% endblock %}
{% block content %}
<h2>Teacher Notes</h2>

<h3>Recent and Featured Problems</h3>
<ul>
  <li><a href="https://www.ibitsofphysics.com/teacher_notes/A%20The%20leaking%20carriage.pdf" target="_blank">Nov/23 The leaking carriage</a></li>
  <li><a href="https://www.ibitsofphysics.com/teacher_notes/A%20Conservative%20forces.pdf" target="_blank">Nov/23 Conservative forces</a></li>
  <li><a href="https://www.ibitsofphysics.com/teacher_notes/A%20A%20problem%20in%20rotational%20motion.pdf" target="_blank">Nov/23 A problem in rotational motion</a></li>
  <li><a href="https://www.ibitsofphysics.com/teacher_notes/A%20An%20equilibrium%20problem%20requiring%20intuition.pdf" target="_blank">Nov/23 An equilibrium problem requiring intuition</a></li>
  <li><a href="https://www.ibitsofphysics.com/teacher_notes/A%20A%20problem%20on%20torques.pdf" target="_blank">Nov/23 A problem on torques</a></li>
  <li><a href="https://www.ibitsofphysics.com/teacher_notes/A%20A%20puzzle%20with%20velocities%20of%20points%20on%20a%20rolling%20ring.pdf" target="_blank">Nov/23 A puzzle with velocities of points on a rolling ring</a></li>
  <li><a href="https://www.ibitsofphysics.com/teacher_notes/A%20The%20three%20cylinder%20problem.pdf" target="_blank">Nov/23 The three cylinders problem</a></li>
  <li><a href="https://www.ibitsofphysics.com/teacher_notes/A%20A%20problem%20with%20angular%20momentum.pdf" target="_blank">Dec/23 A problem with angular momentum</a></li>
  <li><a href="https://www.ibitsofphysics.com/teacher_notes/A%20Invariant%20interval.pdf" target="_blank">Dec/23 Invariant interval</a></li>
  <li><a href="https://www.ibitsofphysics.com/teacher_notes/A%20Birthdays%20and%20Doppler.pdf" target="_blank">Dec/23 Birthdays and Doppler</a></li>
  <li><a href="https://www.ibitsofphysics.com/teacher_notes/A%20Spacetime%20diagrams.pdf" target="_blank">Dec/23 Spacetime diagrams</a></li>
  <li><a href="https://www.ibitsofphysics.com/teacher_notes/A%20Is%20seing%20believing.pdf" target="_blank">Dec/23 Is seeing believing?</a></li>
  <li><a href="https://www.ibitsofphysics.com/teacher_notes/A%20An%20instructive%20relativity%20problem.pdf" target="_blank">Dec/23 An instructive relativity problem</a></li>
  <li><a href="https://www.ibitsofphysics.com/teacher_notes/A%20Pole%20in%20the%20barn.pdf" target="_blank">Dec/23 The pole in-the-barn paradox</a></li>
  <li><a href="https://www.ibitsofphysics.com/teacher_notes/A%20Cue%20hitting%20snooker%20ball.pdf" target="_blank">Dec/23 Cue hitting snooker ball</a></li>
  <li><a href="https://www.ibitsofphysics.com/teacher_notes/A%20Rolling%20without%20slipping.pdf" target="_blank">Dec/23 Rolling without slipping</a></li>
  <li><a href="https://www.ibitsofphysics.com/teacher_notes/A%20A%20problem%20with%20a%20math%20connection.pdf" target="_blank">Feb/24 A problem with a math connection</a></li>
  <li><a href="https://www.ibitsofphysics.com/teacher_notes/A%20Scales%20in%20the%20Universe.pdf" target="_blank">Apr/24 Scales in the Universe</a></li>
  <li><a href="https://www.ibitsofphysics.com/teacher_notes/A%20An%20impulse%20problem.pdf" target="_blank">Apr/24 An impulse problem</a></li>
  <li><a href="https://www.ibitsofphysics.com/teacher_notes/A%20An%20unexpected%20motion.pdf" target="_blank">Apr/24 An unexpected motion</a></li>
  <li><a href="https://www.ibitsofphysics.com/teacher_notes/A%20A%20specimen%20paper%20relativity%20question.pdf" target="_blank">May/24 A specimen paper relativity question</a></li>
  <li><a href="https://www.ibitsofphysics.com/teacher_notes/A%20A%20shocking%20and%20beautiful%20result%20in%20Kin.pdf" target="_blank">Aug/24 A shocking and beautiful result</a></li>
  <li><a href="https://www.ibitsofphysics.com/teacher_notes/A%20An%20interesting%20result%20in%20kinematics.pdf" target="_blank">Sep/24 A conceptual problem in kinematics</a></li>
  <li><a href="https://www.ibitsofphysics.com/teacher_notes/A%20Another%20instructive%20relativity%20problem.pdf" target="_blank">Oct/24 Another instructive relativity problem</a></li>
  <li><a href="https://www.ibitsofphysics.com/teacher_notes/A55%20A%20problem%20on%20torques%20leading%20to%20an%20IA.pdf" target="_blank">Oct/24 A problem on torques leading to an IA</a></li>
  <li><a href="https://www.ibitsofphysics.com/teacher_notes/A56%2020%20Conceptual%20problems%20in%20mechanics.pdf" target="_blank">Dec/24 20 conceptual problems in mechanics</a></li>
  <li><a href="https://www.ibitsofphysics.com/teacher_notes/A57%20A%20challenging%20problem%20with%20friction%20and%20momentum.pdf" target="_blank">Jan/25 A challenging problem with friction and momentum</a></li>
  <li><a href="https://www.ibitsofphysics.com/teacher_notes/A58%20Spacetime%20diagram%20worksheet.pdf" target="_blank">Jan/25 A spacetime diagram worksheet</a></li>
  <li><a href="https://www.ibitsofphysics.com/teacher_notes/A59%20Three%20ways%20to%20solve%20a%20problem.pdf" target="_blank">Feb/25 Three ways to solve a problem</a></li>
  <li><a href="https://www.ibitsofphysics.com/teacher_notes/A60%20Two%20classic%20questions%20on%20buoyancy.pdf" target="_blank">Apr/25 Two classic questions on buoyancy</a></li>
</ul>

<h3>General Stuff</h3>
<ul>
  <li><a href="https://www.ibitsofphysics.com/teacher_notes/G%20Solving%20problems%20in%20Physics.pdf" target="_blank">Solving problems in Physics</a></li>
  <li><a href="https://www.ibitsofphysics.com/teacher_notes/G%20Physicist%20stories.pdf" target="_blank">Physicist stories</a></li>
  <li><a href="https://www.ibitsofphysics.com/teacher_notes/G%20Physics%20and%20Math%20humor.pdf" target="_blank">Physics and Math humor</a></li>
  <li><a href="https://www.ibitsofphysics.com/teacher_notes/G%20Two%20spectacular%20measurements.pdf" target="_blank">Two spectacular measurements</a></li>
  <li><a href="https://www.ibitsofphysics.com/teacher_notes/G%20Another%20spectacular%20measurement.pdf" target="_blank">Another spectacular measurement</a></li>
  <li><a href="https://www.ibitsofphysics.com/teacher_notes/G%20A%20spectacular%20calculation.pdf" target="_blank">A spectacular calculation - T. Kinoshita</a></li>
  <li><a href="https://www.ibitsofphysics.com/teacher_notes/G%20Four%20women%20in%20Physics.pdf" target="_blank">Four women in Physics</a></li>
  <li><a href="https://www.ibitsofphysics.com/teacher_notes/G%20Fred%20Hoyle.pdf" target="_blank">Fred Hoyle</a></li>
  <li><a href="https://www.ibitsofphysics.com/teacher_notes/G%20Karl%20Schwarzschild.pdf" target="_blank">Karl Schwarzschild</a></li>
  <li><a href="https://www.ibitsofphysics.com/teacher_notes/E%20Oppenheimer.pdf" target="_blank">J. R. Oppenheimer</a></li>
  <li><a href="https://www.ibitsofphysics.com/teacher_notes/G%20The%20power%20of%20dimensional%20analysis.pdf" target="_blank">The power of dimensional analysis</a></li>
</ul>
{% endblock %}
